.Nav-container {
  height: 132px;
  .ant-page-header-heading-title{
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: 24px;
  }
}

.tab-container{
  width: 100vw;
  height: auto;
  margin-top: -45px;
  .appliance-container{
    height: 100vh;
    .ant-tabs-content{
      height: 100%;
      .ant-tabs-tabpane{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.graph-container{
  width: 100vw;
  height: 240px;
  canvas{
    width: 100%;
  }
}

